name: Build and Publish Docker Image
on:
  push:
    branches:
      - main

jobs:
  build-amd64:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Extract Docker Meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: selenecodes/index-tts

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker Image
        uses: docker/build-push-action@v5
        with:
          context: ./container
          file: ./Dockerfile
          push: true
          platforms: linux/amd64
          tags: |
            selenecodes/index-tts:${{ steps.meta.outputs.tags }}-amd64
