name: Build and Publish Docker Image
on:
  push:
    branches:
      - main

jobs:
  build-amd64:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Extract Docker Meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: selenecodes/index-tts

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set short git commit SHA
        id: vars
        run: |
          calculatedSha=$(git rev-parse --short ${{ github.sha }})
          echo "COMMIT_SHORT_SHA=$calculatedSha" >> $GITHUB_ENV

      - name: Build Docker Image
        uses: docker/build-push-action@v5
        with:
          context: ./container
          file: ./container/Dockerfile
          push: true
          platforms: linux/amd64
          tags: |
            selenecodes/index-tts:${{ env.COMMIT_SHORT_SHA }}-amd64
